<ul class="navbar-nav sidebar sidebar-light accordion border-right px-3" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <p class="sidebar-brand d-flex align-items-center justify-content-center my-3" >
        <a class="sidebar-brand-icon" href="/admin/dashboard">
            <!-- <i class="fas fa-laugh-wink"></i> -->
            <img src="/images/logo-name.png" alt="" style="width: 100px;">
        </a>
        <!-- <div class="sidebar-brand-text mx-3">SIGMA <sup>Team</sup></div> -->
    </p>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item <% if (active == 'dashboard') { %>active<% } %>">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-th-list"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Nav Item - History -->
    <li class="nav-item <% if (active == 'history') { %>active<% } %>">
        <a class="nav-link" href="/admin/histories">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>History</span></a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item <% if (active == 'manage') { %>active<% } %>">
        <a class="nav-link nav-manage" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Manage</span>
        </a>
        <div id="collapsePages" class="collapse show w-100 ml-0" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white border collapse-inner rounded">
                <!-- <h6 class="collapse-header">Login Screens:</h6> -->
                <a class="collapse-item" href="/admin/inventories">
                    <i class="fas fa-fw fa-clipboard-list"></i>
                    <span>Inventory</span>
                </a>
                <a class="collapse-item" href="/admin/users">
                    <i class="fas fa-fw fa-user"></i>
                    <span>User</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Rental -->
    <li class="nav-item <% if (active == 'peminjaman') { %>active<% } %>">
        <a class="nav-link" href="/admin/peminjaman">
            <i class="fas fa-fw fa-check-circle"></i>
            <span>Peminjaman</span></a>
    </li>

    <!-- Divider -->
    <!-- <hr class="sidebar-divider"> -->

    <!-- Sidebar Toggler (Sidebar) -->
    <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->

</ul>