<% layout('partials/main') %>

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Request</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Facility/Inventory</th>
                            <th>Id Peminjaman</th>
                            <th>Date</th>
                            <th>Customer Name</th>
                            <th>Qty</th>
                            <th>Acc/Decl</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>System Architect</td>
                            <td>#61</td>
                            <td>2011/04/25</td>
                            <td>Tiger Nixon</td>
                            <td>1</td>
                            <td>
                                <button class="btn btn-sm" style="background-color: #003F62; color: white;">acc</button>
                                <button class="btn btn-sm btn-danger">decl</button>
                            </td>
                        </tr>
                        <tr>
                            <td>System Architect</td>
                            <td>#61</td>
                            <td>2011/04/25</td>
                            <td>Tiger Nixon</td>
                            <td>2</td>
                            <td>
                                <button class="btn btn-sm" style="background-color: #003F62; color: white;">acc</button>
                                <button class="btn btn-sm btn-danger">decl</button>
                            </td>
                        </tr>
                        <tr>
                            <td>System Architect</td>
                            <td>#61</td>
                            <td>2011/04/25</td>
                            <td>Tiger Nixon</td>
                            <td>3</td>
                            <td>
                                <button class="btn btn-sm" style="background-color: #003F62; color: white;">acc</button>
                                <button class="btn btn-sm btn-danger">decl</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>